playwright
pandas
tqdm
playwright-stealth
beautifulsoup4
fastapi
uvicorn
pydantic
fastapi-mail
pydantic-settings
python-dotenv
openai
reportlab
google-generativeai
sqlalchemy
python-jose[cryptography]
bcrypt
python-multipart